
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000000;

}
body {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    /* background-size: cover; */
    border: 1px transparent solid ;
    margin: -1px;

}
section{
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: #363636;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: left;
    margin-bottom: 5rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: #b80f0a;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 2rem;
}
 
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 4.2%;
    transform: translateX(-50%);
    background-color: #363636;
}

.section-heading h1::before{
    width: 10rem;
    height: 2px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.6rem;
}

.section-heading h6{
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right{
    margin-right: 5rem;
}

/* End reusable */

header {
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #dc3420;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list{
     list-style: none;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    padding: 1rem;
    color: #000000;
} 

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #b80f0a, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #b80f0a, #000000);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    font-family: 'Roboto';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: left;
    z-index: 1;

}

.landing-text h1{
    font-size: 20rem;
    /* background: #000000; */
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 5rem;
    font-weight: 300;
    padding: 3rem;
    color: #b80f0a;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
    color: #363636;
}

.about-heading h1{
    font-size: 10rem;
    opacity: 0.3;
}

.about-heading h6{
    font-size: 2rem;
}

.about-details p{
    margin-bottom: 2rem;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}

.social-media i{
    font-size: 5rem;
    /* transition: color 650ms;
    transition: 650ms; */

}

.fa-facebook:hover{
    color: #4267b2;
}

.fa-linkedin:hover{
    color: #0e76a8;
}

.fa-instagram:hover{
    /* background: linear-gradient(to bottom, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529); */
    
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    margin: auto;
    margin-bottom: 5rem;
    display: flex;
    position: relative;
    transform: rotate(45deg); 
}

.icon-container i{
    color: #ffe838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.portfolio-item:last-child{
    margin-bottom: 0;
}
.portfolio-img{
    flex: 1;
}

.portfolio-description{
    flex: 1;
}

.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #dc3420;
    transition: color 650ms;
}

.portfolio-description .cta:hover{
    color: #2f67cd;
}

.complete-portfolio{
    margin-top: 2rem;
    text-align: center;
}

input[type="complete-portfolio"]{
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    /* background-color: #363636; */
    background-color: transparent;
    color: #363636;
    padding: 1rem 1rem;
    border-radius: .08rem;
    cursor: pointer;
    transition: color 650ms;
}

input[type="complete-portfolio"]:hover{
    /* color: #221e3f; */
    color: #dc3420;
}
/* Portfolio Mosaic */

.portfolio-mosaic{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(9, 180px);
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px;
}

.item{
    color: #eee;
    font-weight: 300;
    font-size: 5rem;
    text-transform: uppercase;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: 650ms; 
}

.item .portfolio-link{
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-transform: uppercase;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}



.item:hover{
    grid-row: span 2;
    grid-column: span 1;
    background-color: #363636;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
} 

.item:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 30%;
    word-wrap: break-word;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* padding: 2rem; */
    opacity: 0;
    content: attr(data-text);
    transition: 650ms; 
}

.item:hover:after{
    opacity: 1;
}

.item.thumbtack{
    grid-row: span 2;
    grid-column: span 1;
    background-image: url("images/portitem1.jpeg");

}

.item.motus{
    grid-row: span 3;
    grid-column: span 1;
    background-image: url("images/portitem2.jpeg");
}


.item.motus::after{
    height: 10%;
}

.item.gizmo{
    grid-row: span 4;
    grid-column: span 1;
    background-image: url("images/portitem3.jpeg");
}

.item.gc{
    grid-row: span 2;
    grid-column: span 1;
    background-image: url("images/portitem4.jpeg");
}

.item.gc::after{
    height: 15%;
}

.item.information-bank{
    grid-row: span 2;
    grid-column: span 1;
    background-image: url("images/portitem5.jpeg");
}

.item.ease{
    grid-row: span 3;
    grid-column: span 1;
    background-image: url("images/portitem6.jpeg");
}

.item.just-for-fun{
    grid-row: span 1;
    grid-column: span 2;
    background-image: url("images/portitem7.jpeg");

}





/* Portfolio Mosaic */

.timeline .timeline-jobs{
    border-left: 4px solid #dc3420;
    border-radius: .4rem;
    /* background-color: rgba(0, 0, 0, 0.02); */
    margin: 0 0 0 15rem;
    position: relative;
    padding: 1rem;
    list-style: none;
    text-align: left;
    width: 86%;
}

.timeline h1{
    font-size: 2rem;
    /* text-transform: uppercase; */
    font-weight: 400;
    margin-bottom: .3rem;
    color: #363636;
    /* opacity: ; */
}

.timeline h6{
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
}
.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -18.4rem;
    text-align: left;
    line-height: 2rem;
    text-transform: uppercase;
    /* min-width: 17rem; */
    width: 10rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 2px #b80f0a;
    border-radius: 100%;
    left: -4rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #363636;
}

.experience-description li{
    font-size: 1.8rem;
    font-weight: 100;
    list-style-type: none;
    margin: 0;
}

.resume{
    margin-top: 2rem;
    text-align: center;
}

.resume a{
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    /* background-color: #363636; */
    background-color: transparent;
    color: #363636;
    padding: 1rem 1rem;
    border-radius: .08rem;
    cursor: pointer;
    transition: color 650ms;
}

.resume a:hover{
        /* color: #221e3f; */
        color: #dc3420;
}

/* input[type="resume"]{
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    /* background-color: #363636; */
    /* background-color: transparent;
    color: #363636;
    padding: 1rem 1rem;
    border-radius: .08rem;
    cursor: pointer;
    transition: color 650ms;
} */

input[type="resume"]:hover{
    /* color: #221e3f; */
    color: #dc3420;
} */

/*Start contact*/
.contact{
    /* background: url(images/website-background.jpg) no-repeat center fixed; */
    background-color: rgba(0, 0, 0, 0.02);
    background-size: cover;
}

.contact .section-heading{
    margin-bottom: 2rem;
}
.contact p{
    max-width: 700px;
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"]{
    width: initial;
    /* background-color: #363636; */
    background-color: transparent;;
    font-size: 1.8rem;
    text-transform: uppercase;    
    color: #363636;
    text-align: left;
    align-items: left;
    /* padding: 1rem 2rem; */
    /* border-radius: .4rem; */
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    /* color: #221e3f; */
    color: #b80f0a;
}
/*End contact*/

/*Start copyright*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #b80f0a;
    padding: 2rem 0;
    position: relative;
    color: #eee;
}





.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

.up i{
    color: #221e3f;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}

/*End copyright*/


/*Portfolio pages beginning*/
.portfolio-item-header{
    width: 100%;
    height: 20vh;
}

.item-text{
    position: absolute;
    font-family: 'Roboto';
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* text-align: left; */
    z-index: 1;
}

.item-text h1{
    font-size: 2rem;
    background: #000000;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3rem;
    user-select: none;
}

.item-text a{
    font-size: 1.5rem;
    font-weight: 300;
    padding: 3rem;
    color: #b80f0a;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
}

.item-text a:hover{
    color: #2f67cd;
}

.item-intro{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* align-items: center;
    justify-content: center;
    margin-bottom: 5rem; */
}
.item-brief {
    flex: 1;
    margin-right: 2rem;
}

.item-intro h1{
    font-size: 3.5rem;
    color: #b80f0a;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 3rem;

}

.item-intro h1::before,
.item-intro h1::after{
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 10%;
    transform: translateX(-50%);
    background-color: #363636;

}

.item-intro h1::before{
    width: 10rem;
    height: 2px;
    border-radius: .8rem;
}
.item-intro h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -2.1rem;
}

.item-intro p{
    /* max-width: 500px; */
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    /* font-weight: 300; */
}

.item-intro h6{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 8rem;
}

.iframe-container{
    /* float: right; */
/* 
    overflow:hidden; 
    padding-bottom:56.25%;
    position:relative;
    height:0; */
}

.iframe-container iframe{
    /* left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; */
}


.item-description h1{
    margin-bottom: 1rem;
}
.item-description h6{
    font-size: 1.8rem;
    font-weight: 300;
    color: #363636;
    margin-bottom: 1rem;
    font-style: italic;
}

.item-description li{
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1rem;
}

.item-description p{
    margin-bottom: 2rem;
}

.item-description b{
    font-style: italic;
    font-weight: 400;
}



/*Thumbtack page end*/


/* Motus page starts */

.project-img{
    height: 300px;
    width: 620px;
    float: right;
}

.space-above{
    margin-top: 1rem;
}

.feelings{
    color:#b80f0a;
}

.more-space{
    margin-top: 2rem;
}

.purpose-statement{
    margin-left: 5rem;
    width: 60%;
}

.purpose-statement ul{
    list-style-type: square;
}
.structure-img{
    height: 300px;
    width: 500px;
    float: right;
}


/* Motus slider  starts*/
.slidershow{
    width: 720px;
    height: 405px;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.middle{
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translateX(25%); */
    /* transform: translate(-50%, -50%); */
    margin-top: 12rem;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

}

.nav-bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
}

.nav-bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 800%;
    height: 100%;
    display: flex;
}

.slide{
    width: 12.5%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -12.5%;
}

#r3:checked ~ .s1{
    margin-left: -25%;
}

#r4:checked ~ .s1{
    margin-left: -37.5%;
}

#r5:checked ~ .s1{
    margin-left: -50%;
}

#r6:checked ~ .s1{
    margin-left: -62.5%;
}

#r7:checked ~ .s1{
    margin-left: -75%;
}

#r8:checked ~ .s1{
    margin-left: -87.5%;
}

.empty-space{
    width: 100%;
    text-align: center;
    background-color: #b80f0a;
    padding: 2rem 0;
    position: relative;
    color: #eee;
    visibility: hidden;
}

/* Motus slider  ends*/
/* Motus page ends */

/* Gizmo page starts */
.slidershow-gizmo {
    width: 450px;
    height: 600px;
    overflow: hidden;
    float: right;
    margin: auto;
    /* vertical-align: middle;
    justify-content: center; */
    /* transform: translate(-50%, -50%); */
}

.gizmo-text {
    /* transform: translate(0, 30%); */
}

.empty-space-gizmo{
    width: 100%;
    text-align: center;
    background-color: #b80f0a;
    padding: 10rem 0;
    position: relative;
    color: #eee;
    visibility: hidden;
}

.nav-bar-gizmo{
    width: 40px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
}


.nav-bar-gizmo:hover{
    background: #fff;
}

/* Gizmo page ends */

/* AURA test page starts */
.video-container{
  text-align: center;
}
.aura-text{
    position: absolute;
    font-family: 'Roboto';
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;
}

.aura-text h1{
    font-size: 5rem;
    background: #000000;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.aura-header{
    width: 100%;
    height: 10vh;
}

.aura-description{
    text-align: center;
    margin-top: 2rem;
}

.aura-description p{
font-weight: 300;
}

.aura-link {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.aura-link a{
    color: #3C1EB7;

}

.aura-link h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #3C1EB7;
    font-weight: 400;


}

/* AURA test page ends */







/*Start Animation*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(47, 103, 205, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2em rgba(47, 103, 205, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(47, 103, 205, 0);
    }
}
/*End Animation*/


@media screen and (max-width: 1200px) {
    .item-intro{
        flex-direction: column;
        text-align: center;
    }

    .item-brief{
        text-align: center;
        margin-right: 0rem;
    }


    .item-intro h1::before,
    .item-intro h1::after{

        left: 50%;
    }

    .item-intro h6{

        margin-bottom: 4rem;
    }

    .iframe-container{
        overflow:hidden; 
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-bottom: 4rem;
    }
    
    .iframe-container iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    
}

@media screen and (max-width: 1000px) {
    .section-heading {
        text-align: center;
    }

    .section-heading h1::before,
    .section-heading h1::after{
        left: 50%;
    }
}



/*media queries*/
@media screen and (max-width: 768px) {
    body {
        background: #f8f8f8;
        background-size: cover;
    }

    .landing-text h1{
        font-size: 15rem;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading {
        text-align: center;
    }
    
    .section-heading h1{
        font-size: 3rem;
    }

    .section-heading h1::before,
    .section-heading h1::after{
        left: 50%;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -20rem;
    }

    .timeline .date::after{
        left: -5.9rem;
    }

}

@media screen and (max-width: 600px){
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
        text-align: center;
    }
    
    .landing-text h6{
        font-size: 1.4rem;
        text-align: center;
    }


    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }

    .portfolio-mosaic{
        display: grid;
        height: 100%;
        grid-template-rows: repeat(15, 180px);
        grid-template-columns: repeat(1, 100%);
        grid-gap: 20px;
    }

    .item.thumbtack{
        grid-row: span 2;
        grid-column: span 1;
        background-image: url("images/portitem1_mobile.jpeg");
    
    }
    
    .item.motus{
        grid-row: span 2;
        grid-column: span 1;
        background-image: url("images/portitem2_mobile.jpeg");
    }
    
    .item.gizmo{
        grid-row: span 4;
        grid-column: span 1;
        background-image: url("images/portitem3.jpeg");
    }
    
    .item.gc{
        grid-row: span 2;
        grid-column: span 1;
        background-image: url("images/portitem4.jpeg");
        /* order: 2; */
    }
    
    .item.information-bank{
        grid-row: span 2;
        grid-column: span 1;
        background-image: url("images/portitem5_mobile.jpeg");
        /* order: 1; */
    }
    
    .item.ease{
        grid-row: span 2;
        grid-column: span 1;
        background-image: url("images/portitem6.jpeg");
    }
    
    .item.just-for-fun{
        grid-row: span 1;
        grid-column: span 1;
        background-image: url("images/portitem7.jpeg");

    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    .up{
        right: 2rem;
    }

    /* portfolio  starts */ 
    .item{
        font-size: 3rem;
    }
    /* portfolio  end */ 

}
